.banner {
  background-image: url("/src/components/Banner/banner.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
